<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<!--Nav Bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08"
            aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <!--                Update with link to home page-->
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <!--                Update with weakness page-->
                <a class="nav-link" href="#">Weakness Checker</a>
            </li>
            <li class="nav-item">
                <!--                Update with Team Checker-->
                <a class="nav-link" href="#">Team Checker</a>
            </li>
            <li class="nav-item">
                <!--                Update with Biomes page-->
                <a class="nav-link" href="#">Biomes</a>
            </li>
            <!--            Add other nav bar items here-->
        </ul>
    </div>
</nav>

{% block content %}{% endblock %}


<!--Footer-->
<footer class="border-top bg-dark text-light py-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="small text-center text-light fst-italic">
                    Copyright &copy; Pokerouge Utils {{ year }}
                </div>
            </div>
        </div>
    </div>
</footer>


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
{% endblock %}

</body>
</html>
